/* 
    Document   : style
    Created on : 6 mai 2013, 13:37:04
    Author     : insset
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

html, body {
    text-align: center;
    margin: 15px;
    padding: 0;
}


canvas {
    -webkit-box-shadow: #333 0 0 10px;
    -o-box-shadow: #333 0 0 10px;
    -moz-box-shadow: #333 0 0 10px;
    box-shadow: #333 0 0 10px;
}
